.Aspect{

    margin: 100px 135px;
    position: relative;
      width: 100%;
    max-width: 1250px;
      height: 1464px;
 
  
      &_content{
        
        display: flex;
        flex-direction: column;
        align-items: center;
      width: 1250px;
      height: 188px;
      margin-bottom: 60px;
      }

      &_description{

        width: 890px;
        height: 65px;
        font-weight: 400;
        font-size: 20px;
        line-height: 32.04px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color:#fff;
        margin: 0px;

       }

       &_title{
      
        padding: 0px 40px;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
          color:#fff;
          margin:15px ;
          
      }





    }