.Aspect{

    
    padding: 100px 135px;
    position: relative;
      width: 100%;
    max-width: 1250px;
      height: 1094px;
      background-color: #3983780D;
 
  
      &_content{
        
        display: flex;
        flex-direction: column;
        align-items: center;
      width: 1250px;
      height: 188px;
      margin-bottom: 60px;
      }

      &_description{

        width: 890px;
        height: 65px;
        font-weight: 400;
        font-size: 20px;
        line-height: 32.04px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color:#fff;
        margin: 0px;

       }

       &_title{
      
        padding: 0px 40px;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
          color:#fff;
          margin:15px ;
          
      }

      
      
        &_grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr); 
          gap: 40px;
          max-width: 1200px;
          width: 100%;
        }
      
        .feature-content {
         
            display: flex;
        flex-direction: column;
            align-items: center;
          text-align: center;
          color: #fff;
          width: 356.7px;
        height: 254px;
        gap: 0px;

      
          img {
            width: 110px;
            height: 110px;
            margin-bottom: 12px;
          }

          .icon {
            position: absolute;
            width: 80px;
            height: 80px;
            margin-top: 40px;
            margin-left: 50px;
            
            z-index: -1;
          }
          
      
          h3 {
            width: 249px;
height: 24px;
 margin-bottom: 16px;
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0.3px;

            
          }

          
          p {
              width: 330px;
              height: 72px;
              margin-top: 10px;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.3px;
              text-align: center;
              color: #9c9ca7;
            }
        }
        
        
        
        
        .feature-contents {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: #3983784b;
            color: #fff;
            width: 356.7px;
            height: 254px;
            border-radius: 15px;
            gap: 0px;
            
            h4 {
              width: 209px;
    height: 24px;
    margin: 60px 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.3px;
            }

        }
      }
      




    