

.CTA{
    position: relative;
    width: 100%;
    max-width: 1250px;
      height: 175px;
      padding: 100px 135px;
      z-index: 2;
      
  
      &_content{
          
        display: flex;
        justify-content: space-between; 
        align-items: center;   
        position: relative;
        width: 1250px;
        height: 175px;
        background-color: #398378;
        padding: 0px;
        z-index: 3;
        overflow: hidden;
      
      
  
      }
  
      &_title{
        
       margin: 0px;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0px;
        vertical-align: middle;
          color:#fff
      }


      .contentcta{
        width: 150px;
      height: 40px;
        margin: 65px 60px;
        z-index: 5;
      }

      .contentctaT{
        width: 406px;
      height: 71px;
        margin: 65px 60px;
      }

      .cT{
        width: 1250px;
        height: 175px;
        margin: 0px;
        overflow: hidden;
      }

      

      .white-linecta {
        width: 45px;
        height: 3px;
        background-color: #fff;
        
        margin: 10px 0px;
      }


      .overlay-circle {
        position: absolute;          
        top: -130px;                
        right: -50px;               
        width: 528px;
        height: 585px;
        background-color: rgba(0, 0, 0, 0.3); 
        border-radius: 50%;       
        z-index: 1;            
        pointer-events: none;   
        
      }
      
  
    }