
.Features{
  margin: 100px 135px;
  position: relative;
    width: 100%;
  max-width: 1250px;
    height: 670px;
gap: 30px;


    
    
    
    .containerf{

      position: absolute;
       width: 370px;
        height: 282px;
        gap: 10px;
   
     }
   
   
    
   
       &_title{

        font-family: Jost;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0px;
        color: #fff ;
        
       }
   
       &_description{

        width: 370;
height: 55;
        font-family: Jost;
font-weight: 400;
font-size: 20px;
line-height: 32.04px;
letter-spacing: 0%;
vertical-align: middle;
        color:#fff;

       }
         
         
       &_foto{

        position: absolute;
        height: 782px;
        width: 507px;
        top: 1430px;
        left: 0px;
        background-image: url("../img/Pattern.png");
          background-repeat: no-repeat;
          background-size: 507px 782px;
        z-index: -1000;
    
      }






      

    
    .cards-row {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 50%;
    }


      .cards-container{
        position: relative;
        left: 400px;
        display: flex;
        flex-direction: row;
        width: 750px;
        height: 670px;
        gap: 32px;

      }

      .card {
        width: 370px;
       height: 202px;
gap: 30px;
border-radius: 22px;
padding: 30px;
        background-color: #4a504fb9; 
        transition: all 0.3s ease;
        cursor: pointer;
        box-sizing: border-box;
    }
    
    
    
    
    .card-title {
      font-weight: 700px;
      font-size: 24px;
      line-height: 31.92px;
      letter-spacing: 0%;
      color: white;
      vertical-align: middle;
      margin: 0px;
      
    }
    
    .card-description {
      color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 0px 13px;
    margin: 0px;

  }

  .photo-header {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-bottom: 10px;
}

  .header-icon{
    display: flex;
    width: 64;
    height: 64;
    gap: 10px;
    border-radius: 12px;
    background-color: #398378; 
    margin: 13px;
    transition: all 0.3s ease;
    filter: invert(0%) brightness(100%);
    
  }

   

.card:hover .header-icon {
  filter: 
    invert(100%) 
    sepia(100%) 
    saturate(0%) 
    hue-rotate(0deg) 
    brightness(150%);
    border-color: white;
  
}
        
.card:hover {
  background-color: #398378; 
}
   
   }
    

    




    



