footer {
    
    height: 221px;
    color: #fff;
    padding: 0px 135px;
    width: 100%;
    max-width: 1250px;

  
  
  .top-bar {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    height: 23px;
    justify-content: space-between;
    padding: 20px;
    
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 42px;
    padding: 0;
    margin: 0; 
    font-size: 16px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 33px 0;
    margin: 30px 0;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-section h2 {
    color: #30a691;
    margin-bottom: 10px;
  }

  .footer-section h3 {
    color: #30a691;
    margin-bottom: 20px;
  }
  
  .footer-section i {
    margin-right: 8px;
    color: #30a691;
  }
  
  .bottom-bar {
    border-top: 1px solid #fff;
    text-align: center;
    padding: 14px 0px;
    font-size: 16px;
    color: #fff;
  }

  .photo-headf {
    display: flex;
    align-items: center; 
    height: 55px;
    width: 193px;
    
    gap: 10px;
}

  .header-iconf{
    display: flex;
    width: 40px;
    height: 40px;
    gap: 10px;
    margin: 0px;
    
  }

  .pf {

            width: 140px;
              height: 60px;
              font-size: 16px;
              text-align: center;
              color: #fff;
              

  }

  
}