.nav-list {
    
    gap: 40px;
    display: flex;
    list-style: none;
    margin-left: 120px; 


    &_item{
        margin-right: 30px;
        display: inline-block;
    }

    &_link{

    font-family: Jost;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #fff;
    text-decoration: none;

    }
}