

.hero{
  position: relative;
  width: 100%;
  max-width: 1250px;
    height: 691px;
    margin: 0 135px;
 
    
  &_foto{

    position: absolute;
    height: 791px;
    width: 802px;
    right: 0px;
    background-image: url("../img/BG.png");
      background-repeat: no-repeat;
      background-size: 802px 791px;
      
    z-index: -1000;

  }

&_foto2{

  position: absolute;
  height: 327px;
  width: 569px;
  right: 135px ;
  top: 291px;
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
      background-size: 569px 327px;
      z-index: -100;
 
}



  .container{

   position: absolute;
    top: 120px;

  }


  .green-dash-line {
    display: inline-block;
    width: 40px; 
    height: 9px; 
    background-color: #398378; 
    vertical-align: middle; 
  }


    &_title{
      width: 530px;
      height: 229px;
      padding: 0px;
      margin: 0px;
      font-family: Jost;
      font-weight: 700;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: 0px;
        color:#fbfafa
    }

    &_description{
      width: 530px;
      height: 96px;
     
      font-family: Jost;
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0px;
        color:#fdfffd
    }
      
      .btn_hero {
        background-color: #000;
        color: #fff;
        padding: 12px 30px;
        font-size: 16px;
        font-family: 'Jost', sans-serif;
      }

      .btn_hero::after {
        content: "→";
        margin-left: 5px;
      }

}