.hero{
    padding-top: 138px;
    padding-bottom: 175px;
    background-image: url("../img/BG.png"), url("../img/1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top -145px right 0px, top 20px right 20px left 230px;
}