@use '../config/variables' as *; 



body {
    margin: 0;
   
    background-color: $color-fon;
    font-family: 'Jost', sans-serif;
    color: #fff;
  }

  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 135px;

  }
  