$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);



$color-bg-hero: #398378;
$color-fon: #202222;
$color-gradient: linear-gradient(to bottom, #398378, #39837800);
$font-main: 'Jost', sans-serif;